:root {
    --blue: #7fc1d3;
    --red: #d33952;
    --red-d: #bf2b43;
    --brown: #735e59;
    --brown-l: #e6d7c5;
    --white: #fff7e8;
    --sidebar-width: 25vw;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    min-height: 100vh;
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    font-family: 'K2D', sans-serif;
}

.blue {
    color: var(--blue);
}

/* =====================================  SIDEBAR  ============================================= */

.sidebar {
    background-color: var(--red);
    width: var(--sidebar-width);
    height: 100vh;
    text-align: center;
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.header {
    border-bottom: 1px solid var(--white);
    flex: 0 0 8vh;
    margin: 0 1rem 2rem;
}

.logo {
    fill: var(--blue);
    width: 2.2rem;
    height: 2.2rem;
    margin-right: 1rem;
}

.brand h1 {
    font-size: 2.6rem;
    text-transform: uppercase;
    color: var(--brown-l);
    font-weight: normal;
    line-height: 8vh;
    letter-spacing: 2px;
}

.brand h1 span {
    color: var(--blue);
    font-size: 1.6rem;
    font-style: italic;
    vertical-align: top;
    margin: 0 3px;
}

.filter {
    height: 4.2rem;
    border: none;
    border-radius: 3px;
    padding: 1rem 2rem;
    margin: 0 1rem 2rem;
    font-size: 1.6rem;
    color: var(--brown-l);
    background-color: var(--red-d);
    text-align: center;
}

.filter:focus {
    outline: 1px solid var(--brown-l);
}

::placeholder {
    color: var(--brown-l);
}

.places {
    margin: auto 0;
    list-style: none;
    overflow: auto;
}

.place {
    display: block;
    font-size: 1.6rem;
    color: var(--white);
    padding: .5rem 1rem;
    margin: 1.5rem 1rem;
    cursor: pointer;
    position: relative;
    transition: all .2s ease-out;
}

.place:hover {
    color: var(--brown-l);
}

.place:not(:last-child)::before {
    content: '';
    display: block;
    height: 6px;
    width: 6px;
    border-radius: 50px;
    border: 4px solid var(--red);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: calc(-.75rem - 6px);
    background-color: var(--blue);
    z-index: 6;
    box-sizing: content-box;
}

.place:not(:last-child)::after {
    content: '';
    display: block;
    height: 1px;
    width: 15rem;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -.75rem;
    background-color: var(--brown-l);
    z-index: 5;
}

.name {
    font-weight: normal;
}

.close {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    width: 3rem;
    height: 3rem;
    color: var(--brown);
    background-color: var(--brown-l);
    border-radius: 5rem 3px 5rem 5rem;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
    font-size: 1.5rem;
    line-height: 3rem;
    text-align: center;
    cursor: pointer;
}

.details {
    display: none;
    position: relative;
    color: var(--brown-l);
}

.details svg {
    height: 2rem;
    width: 2rem;
    display: inline-block;
    margin-bottom: -.5rem;
    fill: var(--blue);
}

.address svg,
.status svg {
    margin-right: .75rem;
}

.link svg {
    margin-left: 0.75rem;
}

.photo {
    max-width: 100%;
    height: auto;
    border: 1px solid var(--red);
    border-radius: 3px;
}

.rating {
    position: absolute;
    top: 0;
    left: 0;
    height: 4rem;
    width: 4rem;
    font-size: 2rem;
    line-height: 4rem;
    background-color: var(--white);
    border-radius: 3px 50% 50% 50%;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .25);
}

.address {
    margin: 1rem 0;
    padding: 1rem 0;
    border-bottom: 1px solid var(--red);
}

.link:link,
.link:visited {
    text-decoration: none;
    color: var(--brown-l);
    background-color: var(--brown);
    padding: 1rem 2rem;
    border-radius: 3px;
    margin-top: 2rem;
    display: block;
    text-transform: uppercase;
    box-shadow: 0 .25rem .5rem rgba(0, 0, 0, .25);
    transition: all .2s ease-out;
}

.link:hover,
.link:active {
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .25);
}

.selected {
    background-color: var(--red-d);
    border-radius: 3px;
    padding: 2rem;
    cursor: default;
}

.selected .name {
    font-size: 2rem;
    border-bottom: 1px solid var(--red);
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: var(--white);
}

.selected .close {
    display: block;
}

.selected .details {
    display: block;
}

/* =====================================  MAP  ============================================= */

#map {
    height: 100vh;
    position: absolute;
    right: 0;
    top: 0;
    left: var(--sidebar-width);
}

/* =====================================  FOOTER  ============================================= */

.footer {
    flex: 0 0 4.2rem;
    width: var(--sidebar-width);
    background-color: var(--blue);
    margin-bottom: 1rem;
}

.footer__follow {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.footer__follow a {
    margin: 1rem;
}

.footer__follow svg {
    width: 1.8rem;
    height: 1.8rem;
    fill: var(--brown);
    transition: fill .2s ease-out;
}

.footer__follow a:hover svg {
    fill: var(--brown-l);
}

/* =====================================  MEDIA QUERIES  ============================================= */

@media screen and (min-width: 1600px) {
    :root {
        --sidebar-width: 20vw;
    }
}

@media screen and (max-width: 1024px) {
    :root {
        --sidebar-width: 30vw;
    }
    html {
        font-size: 55%;
    }
}

@media screen and (max-width: 800px) {
    .sidebar {
        height: auto;
        display: block;
        width: 100vw;
        text-align: center;
        float: none;
        position: absolute;
        top: 60vh;
    }
    .header {
        border-bottom: 1px solid var(--white);
        margin: 0;
        position: fixed;
        top: 0;
        width: 100vw;
        background-color: var(--red);
        z-index: 10;
    }
    .brand h1 {
        line-height: 6rem;
    }
    #map {
        height: calc(60vh - 6rem);
        top: 6rem;
        left: 0;
    }
    .filter {
        height: 6rem;
        margin: 1rem 2rem 0;
        width: calc(100vw - 4rem);
        max-width: 40rem;
    }
    .places {
        width: calc(100vw - 4rem);
        max-width: 40rem;
        margin: 0 auto;
    }
    .place {
        padding: 1.75rem 1rem;
        margin: 1.25rem 1rem;
    }
    .place:not(:last-child)::after {
        width: 65%;
    }
    .close {
        width: 4rem;
        height: 4rem;
        line-height: 4rem;
    }
    .selected .name {
        padding-right: 3.5rem;
    }
    .footer {
        flex: 0 0 4.2rem;
        width: 100vw;
        background-color: var(--blue);
        margin-bottom: 1rem;
    }
}