:root {
  --blue: #7fc1d3;
  --red: #d33952;
  --red-d: #bf2b43;
  --brown: #735e59;
  --brown-l: #e6d7c5;
  --white: #fff7e8;
  --sidebar-width: 25vw;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  min-height: 100vh;
  box-sizing: border-box;
  font-size: 62.5%;
}

/* =====================================  SIDEBAR  ============================================= */

.sidebar {
  background-color: var(--red);
  width: var(--sidebar-width);
  height: 100vh;
  padding: 1rem 0;
  text-align: center;
  float: left;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.header {
  border-bottom: 1px solid var(--white);
  height: 4.8rem;
  margin: 0 1rem 2rem;
}

.brand h1 {
  font-size: 2.8rem;
  text-transform: uppercase;
  color: var(--brown-l);
  font-weight: normal;
  line-height: 1;
  letter-spacing: 2px;
}

.filter {
  height: 4.2rem;
  border: none;
  border-radius: 3px;
  padding: 1rem 2rem;
  margin: 0 1rem 2rem;
  font-size: 1.6rem;
  color: var(--brown-l);
  background-color: var(--red-d);
}

.places {
  margin: auto 0;
  list-style: none;
  overflow: auto;
}

.place {
  display: block;
  font-size: 1.6rem;
  color: var(--white);
  padding: .5rem 1rem;
  margin: 1.5rem 1rem;
  cursor: pointer;
  position: relative;
  transition: all .2s ease-out;
}

.place:hover {
  color: var(--brown-l);
}

.place:not(:last-child)::before {
  content: '';
  display: block;
  height: 6px;
  width: 6px;
  border-radius: 50px;
  border: 4px solid var(--red);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: calc(-.75rem - 6px);
  background-color: var(--blue);
  z-index: 6;
  box-sizing: content-box;
}

.place:not(:last-child)::after {
  content: '';
  display: block;
  height: 1px;
  width: 15rem;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -.75rem;
  background-color: var(--brown-l);
  z-index: 5;
}

.name {
  font-weight: normal;
}

.details {
  height: 2rem;
  display: none;
  color: var(--brown-l);
}

.selected {
  background-color: var(--red-d);
  border-radius: 3px;
  padding: 2rem;
}

.selected .name {
  font-size: 2rem;
  border-bottom: 1px solid var(--red);
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}

.selected .details{
  display: block;
}

.footer {
  height: 4.2rem;
  width: var(--sidebar-width);
  background-color: var(--brown);
}


/* =====================================  MAP  ============================================= */

#map {
  height: 100vh;
  position: absolute;
  right: 0;
  top: 0;
  left: var(--sidebar-width);
}